@import "assets/scss/variables.scss";

.app-page {
  height: 100%;
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button {
    width: 100%;

    &:first-of-type {
      margin-bottom: 12px;
    }
  }

  &__input {
    width: 100%;
    margin-bottom: 24px;
  }
}
