.game-page {
  height: 100%;
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__connect-text {
    margin-bottom: 12px;
    text-align: center;
    color: rgb(80, 80, 80);
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 20px;
    color: rgb(80, 80, 80);
    appearance: none;
    background: none;
  }
}
