.app-button-back {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: none;
  padding: none;
  margin: 0;
  appearance: none;
}
